<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application>
        <provider
            android:name="com.splunk.rum.startup.StartupInstaller"
            android:authorities="${applicationId}.startup-installer"
            android:enabled="true"
            android:exported="false" />
    </application>
</manifest>