<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application>
        <service
            android:name="com.splunk.rum.common.otel.span.UploadOtelSpanDataJob"
            android:permission="android.permission.BIND_JOB_SERVICE" />
        <service
            android:name="com.splunk.rum.common.otel.logRecord.UploadOtelLogRecordDataJob"
            android:permission="android.permission.BIND_JOB_SERVICE" />
        <service
            android:name=".logRecord.UploadSessionReplayDataJob"
            android:permission="android.permission.BIND_JOB_SERVICE" />
    </application>

</manifest>