<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application>
        <provider
            android:name=".CrashModuleInstaller"
            android:authorities="${applicationId}.CrashModuleInstaller"
            android:enabled="true"
            android:exported="false" />
    </application>
</manifest>
