<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application>
        <provider
            android:name=".OkHttp3AutoModuleInstaller"
            android:authorities="${applicationId}.OkHttp3AutoModuleInstaller"
            android:enabled="true"
            android:exported="false" />
    </application>
</manifest>
